/*style for css demo */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*  --------------- Global Styles -----------------  */
  body{
    
    font-family: 'Pixelify Sans', cursive;
    margin:0;
  }
  
  header.primary{
    background-color:#7AF5B4;
    text-align:center;
    color:#FFFFFF;
    text-shadow: 1px 1px#50475A;
    /*padding:40px;*/
    /*To ri bo Lr */
    padding: 20px 40px 20px 40px;
    /* or   padding: 20px 40px; */
    
  }
  header.primary a{color:#A35BF5}
  
  /*header.promary h1     this is more specific*/
  h1{
    
     font-size:2.4rem;
    margin:20px 0 10px;
  }
  h1 a{color:#A35BF5;
  text-decoration:none;
  }
  
  h2{
    
    font-size:1.8rem;
    
  }
  
  header.primary nav{
   
    max-width:900px;
   margin:20px auto; 
  }
  
  header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }
  
  header.primary nav ul li{
   list-style-type:none;
  }
  
  header.primary nav ul li a{
   text-decoration:none;
   background-color:#F5E4BC;
    /*  background-color:rgba(0,0,0,.4);  */
    padding:5px 10px;
    border:1px solid #50475A;
    border-radius:10px;
    /*opacity:.4*/
    transition:.15s;
  }
  
  header.primary nav ul li a:hover{
    background-color:#A88B43;
  }
  
  